global-reset()

headerColor = black
headerTextColor = white
headerSelectionColor = #ff4337
headerOutlineColor = white
bodyColor = black

headerHeight = 90px
headerOutlineHeight = 8px
headerSelectionHeight = headerOutlineHeight

photoPadding = 5px
photoPaddingAdd = -2px

html
body
	background bodyColor

header
	position fixed
	top 0
	width 100%
	height headerHeight
	background headerColor
	border-bottom headerOutlineHeight solid headerOutlineColor
	white-space nowrap

	.logo
		font-size 62px
		font-weight 100
		padding 0 25px
		color headerTextColor
		font-family Sacramento, sans-serif
		cursor default
		display block
		position fixed
		top headerHeight - 68px

	nav
		display inline-block
		float left
		padding 0 0 0 130px

		a
			font-family Helvetica Neue, sans-serif
			font-size 20px
			font-weight 100
			display inline-block
			color headerTextColor
			opacity 0.6
			transition opacity .3s
			text-decoration none
			margin-right 30px
			padding ((headerHeight - 18px) / 2) 5px

			&:hover
				opacity 1
				transition opacity .1s

			&:focus
				outline none
				opacity 1
				transition opacity .1s

		.selected
			color headerTextColor
			border-color headerSelectionColor

.sets
	display inline
	position absolute
	overflow hidden
	right -(headerHeight) - 4
	left 230px
	height headerHeight + headerSelectionHeight
	text-align right

	img
		height headerHeight
		opacity 0.5
		cursor pointer
		transition opacity .3s

		&.selected
			opacity 1

		&:hover
			opacity 1
			transition opacity .1s

	.arrow
		display none
		width headerHeight
		height headerSelectionHeight
		background headerSelectionColor
		position relative
		top 8px

.photos
	padding headerHeight + headerOutlineHeight + photoPadding + photoPaddingAdd photoPadding + photoPaddingAdd photoPadding + photoPaddingAdd photoPadding + photoPaddingAdd
	line-height 0
	overflow hidden
	white-space nowrap

	img
		margin photoPadding
		cursor pointer
		opacity 0

		&.ready
			opacity 1
			transition opacity .3s

.rightPad
	width: photoPadding + photoPadding + photoPaddingAdd
	height: 5000px;
	position fixed
	right 0
	top headerHeight + headerOutlineHeight
	background bodyColor

.overlay
	visibility hidden
	opacity 0
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background rgba(0, 0, 0, 0.9)
	z-index 999
	font-family sans-serif
	font-size 18px
	color white
	transition-duration .3s
	transition-property opacity, visibility

	&.active
		visibility visible
		opacity 1

	.imgContainer
		margin auto
		position relative

		&>img
			width 100%
			height 100%

		.imgOptions
			background black
			position absolute
			bottom 10px
			right 10px
			opacity 0
			visibility hidden
			transition-duration 1s
			transition-property opacity, visibility
			padding 11px 11px 9px 10px

			&.show
				transition-duration .3s
				opacity .6
				visibility visible

			&:hover
				opacity .8
				visibility visible

				.sizeOption
					display inline

				.cartImg
					margin-left 38px

			.price
				display none
				vertical-align top
				line-height 23px
				font-family Arial
				width 58px
				text-align right

			.sizeOption
				padding-left 8px
				padding-right 2px
				vertical-align top
				line-height 23px
				font-family Arial
				cursor pointer
				display none
				opacity .5
				transition-duration .1s
				transition-property opacity

				&:hover
					opacity 1

.loader
	visibility hidden
	opacity 0
	position absolute
	transition-duration .3s
	transition-property opacity, visibility

	&.show
		visibility visible
		opacity 1
