global-reset()

headerColor = black
headerTextColor = invert(headerColor)
headerSelectionColor = #009e2f
headerOutlineColor = #a34bff
bodyColor = white

html
body
	background bodyColor

header
	background headerColor
	border-bottom 3px solid headerOutlineColor
	overflow hidden

	.logo
		font-size 62px
		font-weight 100
		padding 0 25px
		margin-top 20px
		line-height 70px
		color headerTextColor
		font-family Sacramento, sans-serif
		cursor default
		display block
		float left

	nav
		display inline-block
		padding 37px 0 0 30px

		a
			font-family sans-serif
			font-size 18px
			display inline-block
			color headerTextColor
			opacity 0.6
			transition opacity .3s
			text-decoration none
			margin-right 60px
			margin-top -34px
			padding 34px 5px 34px 5px

			&:hover
				opacity 1
				transition opacity .1s

			&:focus
				outline none
				opacity 1
				transition opacity .1s

		.selected
			color headerTextColor
			border-color headerSelectionColor

.sets
	display inline

	img
		height 90px
		float right
		opacity 0.6
		cursor pointer
		transition opacity .3s

		&.selected
			opacity 1

		&:hover
			opacity 1
			transition opacity .1s

	// .arrow
	// 	border 13px solid transparent
	// 	border-bottom-color headerOutlineColor
	// 	position absolute
	// 	top 67px
	// 	right 32px

	// 	.whiteArrow
	// 		position absolute
	// 		border 9px solid transparent
	// 		border-bottom-color bodyColor
	// 		left -9px
	// 		top -5px

	.arrow
		width 90px
		height 3px
		background headerSelectionColor
		position absolute
		top 90px
		right 0

.photos
	// padding 4px 3px
	padding 0
	line-height 0

	img
		// margin 5px
